.grid-row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
    width: 100%;
}

.grid-cell {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
    border: 1px solid black;
    height: 100%;
    width: 100%;
}

/* grid cell hover effect */
.grid-cell:hover {
    background-color: #e6e6e6;
}

.grid-container{
    position: relative;
    resize: both;
    overflow: hidden;
    padding-top: 5px;
    padding-bottom: 5px;
}

/* Change resize to white square */
.grid-container::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 10px;
    height: 10px;
    background: rgb(9, 255, 0);
    pointer-events: auto;
}